@import './../../common/styles/breakpoints';
@import './../../common/styles/templates';

.container {
  @extend %flex-center;
  flex-direction: column;

  text-align: center;
  background-color: black;
  color: green;
  padding: 20px;
  font-size: 1.5rem;
  border: 5px solid green;

  @media (min-width: $md) {
    flex-direction: row;
  }
}

.btn {
  box-sizing: border-box;
  background-color: white;
  outline: none;
  border: 2px solid transparent;
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn:hover {
  border: 2px solid green;
}
