@import '../../common/styles/templates';

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
  }
}

.lightTheme {
  @extend %lightTheme;
}

.darkTheme {
  @extend %darkTheme;
}
